body{
    display:flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

button{
    background-color: #3882f8;
    color:#e5e7eb;
    padding:8px 16px;
    border: none;
    border-radius:16px;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    padding: 16px;
    
}

.header .text{
    margin-right: auto;
}


.right-links{
    display:flex;
    gap:16px;
    font-size:18px;
    color: #e5e7eb;
}

.first-section{
    background-color: #1f2937;
    display:flex;
    flex:1;
    justify-content: space-between;
    padding: 20px;
    
}

.blabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
}

.second-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:40px;
    gap:20px;
    justify-content: space-between;


}

.container{
    display:flex;
    flex-wrap: wrap;
    flex:1;
    gap:16px;
    border-radius: 25px;
    padding: 20px;
}

.third-section{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-family: "light-italic";
    flex-basis: 200px;
    justify-content: center;
    align-items: center;

}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding:40px;
}

.box{
    background-color: #3882f8;
    padding: 20px 40px;
    display: flex;
    flex-basis:500px;
    color:#e5e7eb;
    justify-content: space-around;
    flex:1;
    align-items: center;
    gap:16px;
    border-radius: 16px;
    
    
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
    color:#e5e7eb
}

